:host {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body,
p,
div {
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
    font-size: 1em;
    color: var(--app-text-color, #000000)
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
    background-color: var(--app-button-background-color, var(--app-primary-color, #488aff));
    border: 0.1rem solid var(--app-button-background-color, var(--app-primary-color, #488aff));
    border-radius: var(--app-border-radius, .5rem);
    color: var(--app-button-color, #fff);
    cursor: var(--app-button-cursor, pointer);
    display: inline-block;
    margin-top: 1rem;
    text-align: center;
    white-space: nowrap;
    height: var(--app-button-height, 2rem);
    width: var(--app-button-width, 100%);
    box-sizing: border-box
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input:not([type]),
textarea,
select {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.1rem solid var(--app-quaternary-color, #d1d1d1);
    border-radius: var(--app-border-radius, .5rem);
    box-shadow: none;
    box-sizing: inherit;
    height: var(--app-input-height, 2rem);
    width: var(--app-input-width, 100%);
    box-sizing: border-box;
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
    padding-left: 0.5rem;
}

.help-text {
    color: #6c757d!important;
    padding-left: 0.5rem;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
    border-color: var(--app-input-focus-color, var(--app-primary-color, #488aff));
    outline: 0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
    cursor: default;
    opacity: .5;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
    background-color: var(--app-button-outline-background-color, transparent);
    color: var(--app-button-outline-color, var(--app-primary-color, #488aff));
}

.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
    background-color: var(--app-button-outline-background-color-hover, var(--app-primary-color, #488aff));
    border-color: var(--app-button-outline-background-color-hover, var(--app-primary-color, #488aff));
    color: var(--app-button-outline-color, #fff);
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
    border-color: inherit;
    color: var(--app-button-outline-background-color-hover, #fff);
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
}

::placeholder {
    /* Most modern browsers support this now. */
    font-family: var(--app-font-family, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
}

input:placeholder-shown {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

.loader {
    border: 5px solid var(--app-loader-border-color, #f3f3f3);
    border-top: 5px solid var(--app-loader-color, var(--app-primary-color, #488aff));
    border-radius: 50%;
    width: var(--app-loader-height, 2rem);
    height: var(--app-loader-width, 2rem);
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.status {
    text-align: center;
}