:host {
    display: block;
}

body {
    font-family: var(--app-font-family);
    font-size: 1em;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    font-family: var(--app-font-family);
    background-color: var(--app-primary-color);
    border: 0.1rem solid var(--app-primary-color);
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input:not([type]),
textarea,
select {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .5rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 2rem;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--app-font-family);
    padding-left: 0.5rem;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
    border-color: var(--app-primary-color);
    outline: 0;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-family: var(--app-font-family);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: var(--app-font-family);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: var(--app-font-family);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: var(--app-font-family);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: var(--app-font-family);
}

::placeholder {
    /* Most modern browsers support this now. */
    font-family: var(--app-font-family);
}

input:placeholder-shown {
    padding-left: 0.5rem;
}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid var(--app-primary-color);
    /* Blue */
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.status {
    font-family: var(--app-font-family);
    text-align: center;
}